*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 15vh;
}

.nav-items{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.nav-item{
    font-family: "Roboto";
    margin: 15px;
    font-size: 20px;
    color: #120E43;
}

.signin-btn{
    position: relative;
    margin: 10px;
    height: 40px;
    width: 110px;
    top: 15px;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    color: #ffffff;
    background: linear-gradient(to right,rgb(141, 61, 175),rgba(224, 59, 139,0.6));
}
.intro-section{
    margin: 15px;
    padding: 5px;
    display: flex;
}
.left-section{
    width: 50%;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.left-section h1{
    position: relative;
    font-family: "Roboto";
    color: #383CC1;
    margin: 10px;
    font-size: 100px;
    top:50px;
    left: 30px;
}
.left-section h4{
    position: relative;
    top: 50px;
    left: 25%;
    width: 45%;
    margin: 10px;
    font-size: 25px;
    color: #606177;
}
.learn-more-btn{
    border: none;
    background: linear-gradient(to right,rgb(141, 61, 175),rgba(224, 59, 139,0.6));
    height: 100px;
    width:250px;
    border-radius: 50px;
    font-size: 30px;
    color: #ffffff;
    position: relative;
    top: 55px;
}
.imgs-div{
    width: 50%;
    position: relative;
    right: 120px;
}
.main-div::before{ 
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/backcover.svg) ;
    background-position: top 0px right 155px;
    background-repeat: no-repeat;
    transform: scaleX(1.2);
}
.vector-img{
    position: absolute;
    bottom: 100px;
}
.vector-dot{
    position: relative;
    bottom: 250px;
    left: 60px;
}